BYBIT_API_KEY="Sl74NAfiZ2hrio4K8J"
BYBIT_SECRET_KEY="WZSR5zuJuwnLpyBWYlV8KEXjbvUHJVDhPs7t"
TELEGRAM_BOT_TOKEN="8416168386:AAEoH_MzU1AzG2UuVGG-x5iwQIE-1CEx4D0"
TELEGRAM_CHAT_ID="1228844466"
TELEGRAM_API_URL="https://api.telegram.org/bot"
BASE_URL="https://api.bybit.com"
DB_PATH="candles_data.db"
PROXY_URL="user163973:tkdbfs@46.38.128.81:8693"

# wSs1bAEC9dhjGMBDd2
# "BbVXm3zvC3vLn68ICEWOTnzA71CS9xTk8x7L"